/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_pure
 */
 body {
     padding: 0;
 }

 /* Alert */

 #alert {
     position: relative;
 }
 #alert:hover:after {
     background: hsla(0,0%,0%,.8);
     border-radius: 3px;
     color: #f6f6f6;
     /*/content: 'A message to show some when hover';  /*/
     font: bold 12px/30px sans-serif;
     height: 30px;
     left: 50%;
     margin-left: -60px;
     position: absolute;
     text-align: center;
     top: 50px;
     width: 120px;
 }
 #alert:hover:before {
     border-bottom: 10px solid hsla(0,0%,0%,.8);
     border-left: 10px solid transparent;
     border-right: 10px solid transparent;
     content: '';
     height: 0;
     left: 50%;
     margin-left: -10px;
     position: absolute;
     top: 40px;
     width: 0;
 }
 #alert:target {
     display: none;
 }
 .alert {
     background-color: #c9c900;
     background-image: -webkit-linear-gradient(135deg, transparent,
                       transparent 25%, hsla(0,0%,0%,.05) 25%,
                       hsla(0,0%,0%,.05) 50%, transparent 50%,
                       transparent 75%, hsla(0,0%,0%,.05) 75%,
                       hsla(0,0%,0%,.05));
     background-image: -moz-linear-gradient(135deg, transparent,
                       transparent 25%, hsla(0,0%,0%,.1) 25%,
                       hsla(0,0%,0%,.1) 50%, transparent 50%,
                       transparent 75%, hsla(0,0%,0%,.1) 75%,
                       hsla(0,0%,0%,.1));
     background-image: -ms-linear-gradient(135deg, transparent,
                       transparent 25%, hsla(0,0%,0%,.1) 25%,
                       hsla(0,0%,0%,.1) 50%, transparent 50%,
                       transparent 75%, hsla(0,0%,0%,.1) 75%,
                       hsla(0,0%,0%,.1));
     background-image: -o-linear-gradient(135deg, transparent,
                       transparent 25%, hsla(0,0%,0%,.1) 25%,
                       hsla(0,0%,0%,.1) 50%, transparent 50%,
                       transparent 75%, hsla(0,0%,0%,.1) 75%,
                       hsla(0,0%,0%,.1));
     background-image: linear-gradient(135deg, transparent,
                       transparent 25%, hsla(0,0%,0%,.1) 25%,
                       hsla(0,0%,0%,.1) 50%, transparent 50%,
                       transparent 75%, hsla(0,0%,0%,.1) 75%,
                       hsla(0,0%,0%,.1));
     background-size: 20px 20px;
     box-shadow: 0 5px 0 hsla(0,0%,0%,.1);
     color: #f6f6f6;
     display: block;
     font: bold 16px/40px sans-serif;
     height: 40px;
     position: absolute;
     text-align: center;
     text-decoration: none;
     top: -45px;
     width: 100%;
     -webkit-animation: alert 1s ease forwards;
        -moz-animation: alert 1s ease forwards;
         -ms-animation: alert 1s ease forwards;
          -o-animation: alert 1s ease forwards;
             animation: alert 1s ease forwards;
 }

 /* Animation */

 @-webkit-keyframes alert {
     0% { opacity: 0; }
     50% { opacity: 1; }
     100% { top: 0; }
 }
 @-moz-keyframes alert {
     0% { opacity: 0; }
     50% { opacity: 1; }
     100% { top: 0; }
 }
 @-ms-keyframes alert {
     0% { opacity: 0; }
     50% { opacity: 1; }
     100% { top: 0; }
 }
 @-o-keyframes alert {
     0% { opacity: 0; }
     50% { opacity: 1; }
     100% { top: 0; }
 }
 @keyframes alert {
     0% { opacity: 0; }
     50% { opacity: 1; }
     100% { top: 0; }
 }
 /*/ /*/
.card {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}
 body {
   font-family: arial;
 }

 .isa_msg {
    margin: 10px 0px;
    padding:12px;

}
.isa_msg {
    color: #fff;
    background-color: #d5d509; /*/ BDE5F8 /*/
}

 table {
   border: 1px solid #ccc;
   width: 100%;
   margin:0;
   padding:0;
   border-collapse: collapse;
   border-spacing: 0;
 }

 table tr {
   border: 1px solid #ddd;
   padding: 5px;
 }

 table th, table td {
   padding: 10px;
   text-align: center;
 }

 table th {
   text-transform: uppercase;
   font-size: 14px;
   letter-spacing: 1px;
 }

 @media screen and (max-width: 600px) {

   table {
     border: 0;
   }

   table thead {
     display: none;
   }

   table tr {
     margin-bottom: 10px;
     display: block;
     border-bottom: 2px solid #ddd;
   }

   table td {
     display: block;
     text-align: right;
     font-size: 13px;
     border-bottom: 1px dotted #ccc;
   }

   table td:last-child {
     border-bottom: 0;
   }

   table td:before {
     content: attr(data-label);
     float: left;
     text-transform: uppercase;
     font-weight: bold;
   }
 }
